@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="DOGUKAN KAYA">
    <h1 class="display-4">DOGUKAN &#128525 CODING</h1>
    <p>Bu sayfa Azure App servisi için oluşturulmuş bir .Net App örneğidir.</p>
    <p>DOGUKAN KAYA</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
</div>
